.players {
    display: flex;
    margin-bottom: 30px;
}

.menu .menu {
    padding: 100px 100px 50px 100px !important;
    transition: 0ms !important;
}

.players > div {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    padding: 25px;
    border-radius: 10px;
    flex: 1;
    min-width: 13rem;
}

.players > div:nth-child(2) {
    margin-left: 150px;
}

.profile-picture {
    aspect-ratio: 1;
    width: 100%;
    background-size: 100% !important;
    position: relative;
    margin-bottom: 20px;
}

.pseudo {
    font-size: 1.3rem;
    text-align: center;
}

.nobody {
    background-color: black;
}

#private-invite-menu {
    font-size: 1.5rem;
    text-align: center;
    transition: 200ms !important;
    right: unset;
}

#private-invite-menu p {
    margin: 0;
}

#private-code {
    color: #467cfd;
    font-size: 2rem;
    margin-top: 10px;
}

.separator {
    margin: 20px 0;
}

.link {
    display: flex;
    margin-top: 10px;
}

.link input {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
    margin-right: 10px;
}

.link button {
    background: none;
    border: 2px solid black;
    padding: 5px 20px 2px;
    border-radius: 100px;
    transition: 100ms;
}

.link button:hover {
    scale: 1.05;
}

.result-bar {
    width: 100%;
    height: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 35px;
    position: relative;
    margin-bottom: 40px;
}

.result-bar::after {
    content: "";
    background: black;
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.result-bar div {
    border: 3px solid black;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #979595;
}

.result-bar .res1 {
    background-color: #bd1f1f;
}

.result-bar .res2 {
    background-color: #1063ff;
}

#game-result-menu p {
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
}

#next-game-timer {
    font-size: 4rem !important;
}

#next-game-image {
    width: 80%;
    aspect-ratio: 3 / 2;
    border: 3px solid black;
    border-radius: 10px;
    margin: 40px 10% 0;
    display: flex;
    align-items: end;
    justify-content: center;
    background-size: 100% !important;
}

#next-game-name {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#game-menu {
    background-color: black;
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
}

#game {
    background-color: white;
    aspect-ratio: 1920 / 1080;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    width: 100000px;
}

#game-gui {
    aspect-ratio: 1920 / 1080;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    width: 100000px;
}

#players-points {
    border: 3px solid black;
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 2 / 1;
    height: 2.4rem;
    justify-content: center;
    border-radius: 0 0 2.4rem 2.4rem;
    border-top-width: 0;
    background-color: white;
}

#players-points p {
    margin: 0;
    font-size: 1.5rem;
}

#players-points p:nth-child(1) {
    color: #bd1f1f;
}

#players-points p:nth-child(2) {
    margin: 0 5px;
}

#players-points p:nth-child(3) {
    color: #1063ff;
}

#end-game-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    opacity: .8;
}

#party-result-menu .cards-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1.2;
}

#party-result-menu .cards-container > div {
    border: 10px solid;
    background-color: white;
    border-radius: 15px;
    width: 70%;
    position: absolute;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 30px 10px;
}

#party-result-menu .cards-container > div:nth-child(2) {
    right: 0;
    transform: translate(12.5%, -50%) scale(.75);
    z-index: -1;
}

#party-result-menu .cards-container .pseudo {
    font-size: 2rem;
}