body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    padding: 100px 200px 50px 200px;
    display: flex;
    flex-direction: column;
    animation: menu-enter 200ms ease-out;
    position: relative;
}

.main a {
    text-decoration: none;
}

#code {
    display: flex;
    margin-top: 10px;
}

#code input {
    width: 100%;
    margin: 0 10px;
    text-align: center;
    outline: none;
    font-size: 2rem;
    padding: 10px 0;
    border: 3px solid #717171;
    border-radius: 10px;
    text-transform: uppercase;
    user-select: all;
}

#code input.filled {
    border-color: black;
}

#code input:focus {
    border-color: #467cfd;
}

#code input:first-child {
    margin-left: 0;
}

#code input:last-child {
    margin-right: 0;
}

#private-lobby-menu p {
    text-align: center;
    color: #717171;
    font-size: 1rem;
}

#profile {
    height: fit-content;
    padding: 30px;
}

#pseudo {
    outline: none;
    border: 2px solid #717171;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 1rem;
    margin-top: 20px;
    width: 150px;
    text-align: center;
}

#profile-picture {
    aspect-ratio: 1;
    width: 100%;
    background: url("../src/images/profile0.png");
    background-size: 100%;
    position: relative;
}

#randomize {
    position: absolute;
    right: 0;
    bottom: 0;
    aspect-ratio: 1;
    background-color: #d52929;
    color: white;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
}