@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Bubblegum Sans", Inter, sans-serif;

    /* VARIABLES */
    --main-col: #7a7aff;
    --col1: #cd1aff;
    --col2: #217a00;
}

a, button {
    cursor: pointer;
}